th {
  text-align: left;
  font-weight: 400;
  padding: 10px 20px 5px 20px;
}

td {
  font-weight: 300;
  padding: 10px 20px 5px 20px;
  margin: 0;
}

tr {
  margin: 0;
  padding: 0;
}

tr:nth-child(even) {
  background-color: grey;
}
