:root {
    --primary: #b620e0;
    --primary-shade: #f5f8fc;
    --secondary: #e5f8fc;
    --secondary-shade: #3b4859;
    --secondary-contrast: #f0f3f7;
    --table-grey1: #f8f9fb;
    --table-grey2: #fff;
}
