.age-range > ul > li{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--primary-shade);
  border-bottom: 1px solid var(--primary-shade);
}

.right {
  display: flex;
  flex-direction: column;
}

.right > div {
  display: flex;
  justify-content: flex-end;
}

.highlighted {
  color: var(--primary);
}

.smaller {
  font-size: 10pt;
}

.low-opactiy {
  color: var(--secondary-shade);
}

.left {
  display: flex;
}
