.campaign-overview {
    width: 100%;
}

.campaign-overview-element {
    padding-left: 1rem;
    padding-right: 1rem;
}
.campaign-overview-element h3 {
    padding-top: 1rem;
    color: #8998ac;
}
.campaign-overview-element hr {
    border: 0;
    border-top: 1px solid #f5f6f5;
    height: 1px;
}
.campaign-overview-element .summary {
    display: flex;
    color: var(--primary);
}

.campaign-overview-element .summary {
    padding-top: 0.8rem;
    padding-bottom: 1rem;
}

.campaign-overview-element .summary div {
    padding-left: 20px;
    font-size: 0.8rem;
}

.campaign-overview-element .summary .good {
    color: #7ed321;
}

.campaign-overview-element .summary .middle {
    color: #ff8f00;
}
