h1 {
  font-size: 13pt;
}

h3 {
  font-size: 10pt;
  font-weight: lighter;
  color: #c0c0c0;
}

.generic-information {
  display: flex;
  align-content: center;
  vertical-align: center;
  align-items: center;
  justify-content: left;
}

.agent-img {
  display: flex;
  border-radius: 50%;
  object-fit: cover;
  background-position: 50% 50%;
  padding: 10px;
  width: 128px;
  height: 128px;
}

.infromations {
  display: flex;
}

.score {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
