.messages-card table {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-spacing: 0;
}

.messages-card table thead {
    background-color: var(--table-grey1);
}

.messages-card table td:nth-child(1) {
    color: #8998ac;
    font-weight: 200;
}
.messages-card table td:nth-child(2) {
    color: #8998ac;
    font-weight: 200;
}
.messages-card table td:nth-child(3) {
    color: var(--primary);
    font-weight: bold;
}

.messages-card table tbody tr:nth-child(odd) {
    background-color: var(--table-grey1);
}

.messages-card table tbody tr:nth-child(even) {
    background-color: var(--table-grey2);
}
