.table-zone {
    padding: 10px;
    padding-top: 30px;
}

.table-zone table {
    width: 100%;
    border-spacing: 0;
}

.table-zone table td:nth-child(2) {
    text-align: right;
}

.table-zone table tbody tr:nth-child(odd) {
    background-color: var(--table-grey1);
}

.table-zone table tbody tr:nth-child(even) {
    background-color: var(--table-grey2);
}

.table-zone table tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}
