.upcoming-events > ul > li{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--primary-shade);
}

.left {
  max-width: 20px !important;
  width: 20px;
  margin-right: 20px;
}

.upcoming-events > ul > li > .right {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.right > div {
  display: flex;
  justify-content: flex-start;
}

.smaller {
  font-size: 10pt;
}

.low-opacity {
  color: var(--secondary-shade);
}

.tags {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}

.tag {
  display: flex;
  border-radius: 20px;
  padding: 1px 10px 1px 10px;
  font-size: 10pt;
  color: white;
  background-color: black;
}
