.card {
    display: flex;
    flex-basis: 100%;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 300px;
    flex-direction: column;
    margin: 10px;
    overflow-y: auto;
}

.card-title {
    font-weight: 400;
    font-size: 14pt;
    padding: 25px 25px 5px 25px;
}

.card-content {
    padding: 5px;
}

hr {
    border-radius: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #f5f6f5;
    color: var(--secondary-shade);
}
