@import "./global/layout.css";
@import "./global/fonts.css";
@import "./global/tables.css";
@import "./global/variables.css";

@font-face {
  font-family: Montserrat-Regular;
  src: url(static/Montserrat-Regular.ttf);
}

body {
  margin: 0;
  font-family: Montserrat-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
