* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.Navbar {
    max-height: 100vh;
}

html,
body,
#reactapp,
.App {
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.header {
    background-color: white;
    display: flex;
    width: 100%;
    height: 70px;

    .menu__left {
        display: flex;
        flex-basis: 20%;
        height: 100%;

        .menu__left-logo {
            width: 80%;
            height: 100%;
            display: flex;
            padding-left: 15px;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 180px;
                height: 40px;
                padding: 0;
            }
        }
        .menu__left-close {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 20px;
                width: 20px;
                padding: 0;
            }
        }
    }

    .menu__middle {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu_middle-app {
            display: flex;
            flex-basis: 20%;
            padding-left: 20px;
            img {
                padding: 0;
                height: 31px;
                width: 24px;
            }
            h2 {
                padding-left: 10px;
                font-weight: 200;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }

        ul {
            display: flex;
            width: 80%;
            height: 100%;
            align-items: center;
            padding-left: 20px;

            li {
                padding: 0;
                padding-left: 30px;
                display: flex;
                align-items: center;
                height: 100%;

                h3 {
                    font-weight: 200;
                }
                img {
                    align-items: center;
                    margin-top: 6px;
                    width: 24px;
                    padding: 0;
                    height: 12px;
                }

                .menu__middle-active {
                    background-color: var(--primary-shade);
                    padding: 10px;
                    border-radius: 10px;
                    color: var(--primary);
                }

                .menu__middle-icon {
                    height: 31px;
                    width: 24px;
                    margin-right: 6px;
                }
            }
        }
    }

    .menu__right {
        display: flex;
        flex-basis: 30%;
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            li {
                padding: 0;
                padding-right: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    padding: 0;
                    height: 20px;
                    width: 23px;
                }
                .menu__right-avatar {
                    margin-top: 20px;
                    width: 70px;
                    height: 70px;
                }
                .menu__right-notification {
                    width: 30px;
                    height: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    .menu__left-logo img {
        content: url(./static/img/comeclosely_smalllogo.png);
        width: 55px !important;
        background-repeat: no-repeat;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 20% !important;
    background-color: var(--primary-shade);

    .col-md-2 {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .sidebar__title {
        display: flex;
        align-items: center;
        padding-left: 0 !important;

        img {
            padding: 0;
            width: 64px;
            height: 32px;
            padding-left: 40px;
            padding-right: 10px;
        }
        .sidebar__title-dashboard {
            padding: 0;
            height: 50px;
            width: 40px;
            padding-left: 10px;
            padding-right: 10px;
        }
        h2 {
            color: var(--secondary-shade);
            font-weight: 200;
            padding-left: 10px;
            padding-right: 20px;
        }
        span {
            background-color: var(--primary);
            color: var(--primary-shade);
            border-radius: 30px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    ul li {
        padding: 0;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        padding-left: 50px;
    }

    .sidebar__active {
        background-color: var(--secondary-contrast);
        color: var(--primary);
    }
}

.wrapper__content {
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 15px;
}

.content {
    display: flex;
    flex-basis: 100%;
}

.horizontal {
    flex-direction: column;
}

.App {
    width: 100%;
    max-height: 100%;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #eff2f7;

    .breadcrumb-title {
        text-transform: uppercase;
        font-size: 1.6rem;
        padding-left: 20px;
        color: black;
    }
    .breadcrumb-link {
        font-size: 0.8rem;
        padding-right: 20px;
        display: flex;
        color: #8091a9;

        .breadcrumb-link__active {
            color: var(--primary);
            padding-left: 5px;
        }
    }
}
